/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.save
.env.backup
.env.example2
/storage/logs/*.log
*.sql
*.zip
*.rar
*.7z
gbash.exe.stack*
clean-dark.js
.DS_Store
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/.well-known/
public/404.html
/storage/debugbar
/patches.diff
*.stackdump
*.stackdico