* {
    scroll-behavior: smooth;
}

.hero-background {
    background: radial-gradient(circle, #073B5C, #041B2D);
}

#hero::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, #073B5C, transparent);
    z-index: 10;
}

.hero-section2-background {
    background: linear-gradient(var(--bg-linear-angle, 0deg), rgba(255, 249, 232, 1), #073B5C);
}

.information-background {
    background: radial-gradient(circle, #073B5C, #041B2D);
}

.gradient-text-information {
    background: linear-gradient(170deg, #FFC83D, #FFF9E8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.gradient-text-pengenalan {
    background: linear-gradient(140deg, #FF5A4F, #FFC83D);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.gradient-bg-video1 {
    background: linear-gradient(var(--bg-linear-angle, 140deg), #073B5C, #50D6B2);
}